In [1]:
import requests
import pandas as pd
import json
from datetime import datetime

from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base


from sqlalchemy import create_engine,inspect


from sqlalchemy.orm import Session
from sqlalchemy.orm import sessionmaker,relationship


#engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/weatherStation')
engine = create_engine('postgresql://postgres:postgres@localhost:5432/weatherStation')

In [2]:
url = "https://data.cityofchicago.org/api/views/2ivx-z93u/rows.json?accessType=DOWNLOAD"
response = requests.get(url)
data_dict = json.loads(response.text)
data_rows = data_dict.get("data")
relevant_row_data = [row[8:14] for row in data_rows if row[10] == "63rd Street" or row[10]== "Oak Street" or row[10]=="Foster"]
dna_test_ids = [row[0] for row in relevant_row_data]
dna_sample_timestamps = [row[1] for row in relevant_row_data]
station_names = [row[2] for row in relevant_row_data]
dna_samples_1 = [row[3] for row in relevant_row_data]
dna_samples_2 = [row[4] for row in relevant_row_data]
dna_reading_means = [row[5] for row in relevant_row_data]
data = {
   'dna_test_ids': dna_test_ids,
   'dna_sample_timestamps': dna_sample_timestamps,
   'station_names': station_names,
    'dna_samples_1':dna_samples_1,
    'dna_samples_2':dna_samples_2,
    'dna_reading_means':dna_reading_means
}

df = pd.DataFrame(data)
df['dna_sample_timestamps'] = pd.to_datetime(df['dna_sample_timestamps'],errors = 'coerce').dt.date
df = df.dropna(how='any')
df.head()

df.to_sql('beachlab', con=engine, if_exists='replace')

In [3]:
Base = automap_base()
Base.prepare(engine, reflect=True)
engine.execute("SELECT * FROM beachlab limit 10").fetchall()

[(0, '10601', datetime.date(2019, 6, 3), '63rd Street', '15', '121', '42.602816808'),
 (1, '10584', datetime.date(2019, 6, 3), 'Foster', '12', '8', '9.797958971'),
 (2, '10604', datetime.date(2019, 6, 3), 'Oak Street', '12', '4', '6.92820323'),
 (3, '10631', datetime.date(2019, 6, 4), 'Oak Street', '76', '64', '69.742383097'),
 (4, '10666', datetime.date(2019, 6, 4), '63rd Street', '118', '125', '121.449578015'),
 (5, '10673', datetime.date(2019, 6, 4), 'Foster', '35', '14', '22.135943621'),
 (6, '13801', datetime.date(2020, 7, 6), '63rd Street', '1135', '709', '897.059083896'),
 (9, '13804', datetime.date(2020, 7, 6), 'Foster', '254', '163', '203.474814166'),
 (11, '13803', datetime.date(2020, 7, 6), 'Oak Street', '2560', '3001', '2771.743133842'),
 (12, '10716', datetime.date(2019, 6, 5), '63rd Street', '167', '435', '269.527364102')]

In [4]:
# Beach stations weather data files
Beaches_weather_path = "Resources/Beach_Weather_Stations.csv"

# Read the Beach stations weather data into dataframe
Beaches_weather_df = pd.read_csv(Beaches_weather_path)
Beaches_weather_df = Beaches_weather_df.rename(columns={'Station Name': 'station_name'})
Beaches_weather_df.head()

C:\Users\macie\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,station_name,Measurement Timestamp,Air Temperature,Wet Bulb Temperature,Humidity,Rain Intensity,Interval Rain,Total Rain,Precipitation Type,Wind Direction,Wind Speed,Maximum Wind Speed,Barometric Pressure,Solar Radiation,Heading,Battery Life,Measurement Timestamp Label,Measurement ID
0,63rd Street Weather Station,9/27/2018 10:00,16.40,12.2,61,0.0,0.0,260.3,0.0,231,2.5,4.7,996.3,484,356.0,11.9,9/27/2018 10:00,63rdStreetWeatherStation201809271000
1,63rd Street Weather Station,9/27/2018 11:00,17.10,11.5,51,0.0,0.0,260.3,0.0,244,3.6,5.7,995.4,468,356.0,11.9,9/27/2018 11:00,63rdStreetWeatherStation201809271100
2,63rd Street Weather Station,9/27/2018 13:00,18.20,12.4,51,0.0,0.0,260.3,0.0,248,3.1,5.3,994.8,377,355.0,11.9,9/27/2018 13:00,63rdStreetWeatherStation201809271300
3,Foster Weather Station,9/27/2018 13:00,17.89,NaN,39,NaN,0.0,NaN,NaN,249,1.4,2.3,993.6,0,NaN,15.1,9/27/2018 13:00,FosterWeatherStation201809271300
4,63rd Street Weather Station,9/27/2018 15:00,19.50,13.0,47,0.0,0.0,260.3,0.0,249,3.1,5.7,992.9,461,355.0,11.9,9/27/2018 15:00,63rdStreetWeatherStation201809271500

In [5]:
#Drop irrelevant columns

Clean_columns_df =  Beaches_weather_df.drop(columns=['Rain Intensity', 'Interval Rain', 'Precipitation Type', 'Heading', 'Battery Life', 'Measurement Timestamp Label', 'Measurement ID'])
Clean_columns_df.head()

,station_name,Measurement Timestamp,Air Temperature,Wet Bulb Temperature,Humidity,Total Rain,Wind Direction,Wind Speed,Maximum Wind Speed,Barometric Pressure,Solar Radiation
0,63rd Street Weather Station,9/27/2018 10:00,16.40,12.2,61,260.3,231,2.5,4.7,996.3,484
1,63rd Street Weather Station,9/27/2018 11:00,17.10,11.5,51,260.3,244,3.6,5.7,995.4,468
2,63rd Street Weather Station,9/27/2018 13:00,18.20,12.4,51,260.3,248,3.1,5.3,994.8,377
3,Foster Weather Station,9/27/2018 13:00,17.89,NaN,39,NaN,249,1.4,2.3,993.6,0
4,63rd Street Weather Station,9/27/2018 15:00,19.50,13.0,47,260.3,249,3.1,5.7,992.9,461

In [6]:
#Remove 'Weather Station' from station name

#Clean_columns_df['Station Name'] = Clean_columns_df['Station Name'].str.replace('Weather Station', '')
Clean_columns_df['station_name'] = Clean_columns_df['station_name'].str.replace(' Weather Station', '')
Clean_columns_df.head()

,station_name,Measurement Timestamp,Air Temperature,Wet Bulb Temperature,Humidity,Total Rain,Wind Direction,Wind Speed,Maximum Wind Speed,Barometric Pressure,Solar Radiation
0,63rd Street,9/27/2018 10:00,16.40,12.2,61,260.3,231,2.5,4.7,996.3,484
1,63rd Street,9/27/2018 11:00,17.10,11.5,51,260.3,244,3.6,5.7,995.4,468
2,63rd Street,9/27/2018 13:00,18.20,12.4,51,260.3,248,3.1,5.3,994.8,377
3,Foster,9/27/2018 13:00,17.89,NaN,39,NaN,249,1.4,2.3,993.6,0
4,63rd Street,9/27/2018 15:00,19.50,13.0,47,260.3,249,3.1,5.7,992.9,461

In [7]:
#Convert Datetime to Date

Clean_columns_df['Measurement Timestamp'] = pd.to_datetime(Clean_columns_df['Measurement Timestamp']).dt.date
Clean_columns_df.head()

,station_name,Measurement Timestamp,Air Temperature,Wet Bulb Temperature,Humidity,Total Rain,Wind Direction,Wind Speed,Maximum Wind Speed,Barometric Pressure,Solar Radiation
0,63rd Street,2018-09-27,16.40,12.2,61,260.3,231,2.5,4.7,996.3,484
1,63rd Street,2018-09-27,17.10,11.5,51,260.3,244,3.6,5.7,995.4,468
2,63rd Street,2018-09-27,18.20,12.4,51,260.3,248,3.1,5.3,994.8,377
3,Foster,2018-09-27,17.89,NaN,39,NaN,249,1.4,2.3,993.6,0
4,63rd Street,2018-09-27,19.50,13.0,47,260.3,249,3.1,5.7,992.9,461

In [8]:
#Extract and create year column from Measurement timestamp

Clean_columns_df['year'] = pd.DatetimeIndex(Clean_columns_df['Measurement Timestamp']).year
Clean_columns_df.head()

#Filter dates from 2015-2019

years_range = Clean_columns_df[(Clean_columns_df['year']>= 2014) &  (Clean_columns_df['year']<= 2020)]
years_range.head()

,station_name,Measurement Timestamp,Air Temperature,Wet Bulb Temperature,Humidity,Total Rain,Wind Direction,Wind Speed,Maximum Wind Speed,Barometric Pressure,Solar Radiation,year
0,63rd Street,2018-09-27,16.40,12.2,61,260.3,231,2.5,4.7,996.3,484,2018
1,63rd Street,2018-09-27,17.10,11.5,51,260.3,244,3.6,5.7,995.4,468,2018
2,63rd Street,2018-09-27,18.20,12.4,51,260.3,248,3.1,5.3,994.8,377,2018
3,Foster,2018-09-27,17.89,NaN,39,NaN,249,1.4,2.3,993.6,0,2018
4,63rd Street,2018-09-27,19.50,13.0,47,260.3,249,3.1,5.7,992.9,461,2018

In [9]:
engine = create_engine(f'postgresql://postgres:postgres@localhost:5432/weatherStation')
connection = engine.connect()

In [10]:
weather_df = years_range[['station_name', 'Measurement Timestamp', 'Air Temperature', 'Humidity']]

In [11]:
weather_df.to_sql('beachweather', con=engine, if_exists='replace')

In [12]:
connection.execute('alter table beachweather add primary key(index)')
Base = automap_base()
Base.prepare(engine, reflect=True)
engine.execute("SELECT * FROM beachweather limit 10").fetchall()

[(0, '63rd Street', datetime.date(2018, 9, 27), 16.4, 61),
 (1, '63rd Street', datetime.date(2018, 9, 27), 17.1, 51),
 (2, '63rd Street', datetime.date(2018, 9, 27), 18.2, 51),
 (3, 'Foster', datetime.date(2018, 9, 27), 17.89, 39),
 (4, '63rd Street', datetime.date(2018, 9, 27), 19.5, 47),
 (5, 'Foster', datetime.date(2018, 9, 27), 19.39, 37),
 (6, '63rd Street', datetime.date(2018, 9, 27), 20.2, 38),
 (7, 'Foster', datetime.date(2018, 9, 27), 19.78, 33),
 (8, '63rd Street', datetime.date(2018, 9, 27), 20.4, 38),
 (9, 'Foster', datetime.date(2018, 9, 27), 20.0, 33)]

In [13]:
connection = engine.connect()
#connection.execute('alter table beachweather add primary key(index)')
connection.execute('alter table beachlab add primary key(index)')

In [14]:

base = automap_base()
inspector = inspect(engine)
base.prepare(engine, reflect=True)
print(base.classes.keys())

beachlab = base.classes.beachlab
beachweather = base.classes.beachweather
print(beachlab.__table__.columns.keys())
print(beachweather.__table__.columns.keys())

['beachweather', 'beachlab']
['index', 'dna_test_ids', 'dna_sample_timestamps', 'station_names', 'dna_samples_1', 'dna_samples_2', 'dna_reading_means']
['index', 'station_name', 'Measurement Timestamp', 'Air Temperature', 'Humidity']

In [18]:
Session = sessionmaker(bind=connection)
session = Session()
join_results = session.query(beachlab, beachweather).filter(beachlab.station_names == beachweather.station_name).limit(10).all()
for row in join_results:
    print(f"Station Name: {row[0].station_names}, Reading: {row[0].dna_samples_1}, Humidity: {row[1].Humidity}")

Station Name: 63rd Street, Reading: 15, Humidity: 61
Station Name: 63rd Street, Reading: 118, Humidity: 61
Station Name: 63rd Street, Reading: 1135, Humidity: 61
Station Name: 63rd Street, Reading: 167, Humidity: 61
Station Name: 63rd Street, Reading: 156, Humidity: 61
Station Name: 63rd Street, Reading: 10948, Humidity: 61
Station Name: 63rd Street, Reading: 109, Humidity: 61
Station Name: 63rd Street, Reading: 569, Humidity: 61
Station Name: 63rd Street, Reading: 245, Humidity: 61
Station Name: 63rd Street, Reading: 8, Humidity: 61