Bacterial levels and weather at Chicago beaches over summer 2015-2019

In [1]:
#%matplotlib 
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import datetime
from flask import Flask
from sqlalchemy import create_engine
import json

In [2]:
# Beach stations weather data files
Beaches_weather_path = "Resources/Beach_Weather_Stations.csv"

# Read the Beach stations weather data into dataframe
Beaches_weather_df = pd.read_csv(Beaches_weather_path)
Beaches_weather_df.head()

C:\Users\mario\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Station Name,Measurement Timestamp,Air Temperature,Wet Bulb Temperature,Humidity,Rain Intensity,Interval Rain,Total Rain,Precipitation Type,Wind Direction,Wind Speed,Maximum Wind Speed,Barometric Pressure,Solar Radiation,Heading,Battery Life,Measurement Timestamp Label,Measurement ID
0,63rd Street Weather Station,9/27/2018 10:00,16.40,12.2,61,0.0,0.0,260.3,0.0,231,2.5,4.7,996.3,484,356.0,11.9,9/27/2018 10:00,63rdStreetWeatherStation201809271000
1,63rd Street Weather Station,9/27/2018 11:00,17.10,11.5,51,0.0,0.0,260.3,0.0,244,3.6,5.7,995.4,468,356.0,11.9,9/27/2018 11:00,63rdStreetWeatherStation201809271100
2,63rd Street Weather Station,9/27/2018 13:00,18.20,12.4,51,0.0,0.0,260.3,0.0,248,3.1,5.3,994.8,377,355.0,11.9,9/27/2018 13:00,63rdStreetWeatherStation201809271300
3,Foster Weather Station,9/27/2018 13:00,17.89,NaN,39,NaN,0.0,NaN,NaN,249,1.4,2.3,993.6,0,NaN,15.1,9/27/2018 13:00,FosterWeatherStation201809271300
4,63rd Street Weather Station,9/27/2018 15:00,19.50,13.0,47,0.0,0.0,260.3,0.0,249,3.1,5.7,992.9,461,355.0,11.9,9/27/2018 15:00,63rdStreetWeatherStation201809271500

In [3]:
#Drop irrelevant columns
Weather_clean = Beaches_weather_df.dropna(how='any')
Clean_columns_df =  Weather_clean.drop(columns=['Rain Intensity', 'Interval Rain', 'Precipitation Type', 'Heading', 'Battery Life', 'Measurement Timestamp Label', 'Measurement ID'])
Clean_columns_df.head()

,Station Name,Measurement Timestamp,Air Temperature,Wet Bulb Temperature,Humidity,Total Rain,Wind Direction,Wind Speed,Maximum Wind Speed,Barometric Pressure,Solar Radiation
0,63rd Street Weather Station,9/27/2018 10:00,16.4,12.2,61,260.3,231,2.5,4.7,996.3,484
1,63rd Street Weather Station,9/27/2018 11:00,17.1,11.5,51,260.3,244,3.6,5.7,995.4,468
2,63rd Street Weather Station,9/27/2018 13:00,18.2,12.4,51,260.3,248,3.1,5.3,994.8,377
4,63rd Street Weather Station,9/27/2018 15:00,19.5,13.0,47,260.3,249,3.1,5.7,992.9,461
6,63rd Street Weather Station,9/27/2018 16:00,20.2,12.2,38,260.3,212,4.1,9.2,992.3,412

In [4]:
#Remove 'Weather Station' from station name
Clean_columns_df['Station Name'] = Clean_columns_df['Station Name'].str.replace('Weather Station', '')
Clean_columns_df.head()

,Station Name,Measurement Timestamp,Air Temperature,Wet Bulb Temperature,Humidity,Total Rain,Wind Direction,Wind Speed,Maximum Wind Speed,Barometric Pressure,Solar Radiation
0,63rd Street,9/27/2018 10:00,16.4,12.2,61,260.3,231,2.5,4.7,996.3,484
1,63rd Street,9/27/2018 11:00,17.1,11.5,51,260.3,244,3.6,5.7,995.4,468
2,63rd Street,9/27/2018 13:00,18.2,12.4,51,260.3,248,3.1,5.3,994.8,377
4,63rd Street,9/27/2018 15:00,19.5,13.0,47,260.3,249,3.1,5.7,992.9,461
6,63rd Street,9/27/2018 16:00,20.2,12.2,38,260.3,212,4.1,9.2,992.3,412

In [5]:
#Convert Datetime to Date
Clean_columns_df['Measurement Timestamp'] = pd.to_datetime(Clean_columns_df['Measurement Timestamp']).dt.date
Clean_columns_df.head()

,Station Name,Measurement Timestamp,Air Temperature,Wet Bulb Temperature,Humidity,Total Rain,Wind Direction,Wind Speed,Maximum Wind Speed,Barometric Pressure,Solar Radiation
0,63rd Street,2018-09-27,16.4,12.2,61,260.3,231,2.5,4.7,996.3,484
1,63rd Street,2018-09-27,17.1,11.5,51,260.3,244,3.6,5.7,995.4,468
2,63rd Street,2018-09-27,18.2,12.4,51,260.3,248,3.1,5.3,994.8,377
4,63rd Street,2018-09-27,19.5,13.0,47,260.3,249,3.1,5.7,992.9,461
6,63rd Street,2018-09-27,20.2,12.2,38,260.3,212,4.1,9.2,992.3,412

In [6]:
#Extract and create year column from Measurement timestamp
Clean_columns_df['year'] = pd.DatetimeIndex(Clean_columns_df['Measurement Timestamp']).year
Clean_columns_df.head()
#Filter dates from 2015-2019
Clean_columns_df.head()

,Station Name,Measurement Timestamp,Air Temperature,Wet Bulb Temperature,Humidity,Total Rain,Wind Direction,Wind Speed,Maximum Wind Speed,Barometric Pressure,Solar Radiation,year
0,63rd Street,2018-09-27,16.4,12.2,61,260.3,231,2.5,4.7,996.3,484,2018
1,63rd Street,2018-09-27,17.1,11.5,51,260.3,244,3.6,5.7,995.4,468,2018
2,63rd Street,2018-09-27,18.2,12.4,51,260.3,248,3.1,5.3,994.8,377,2018
4,63rd Street,2018-09-27,19.5,13.0,47,260.3,249,3.1,5.7,992.9,461,2018
6,63rd Street,2018-09-27,20.2,12.2,38,260.3,212,4.1,9.2,992.3,412,2018

In [9]:
Clean_columns_df['year'].value_counts()

2017    16708
2016    15563
2018    11348
2020    10952
2015     8963
2019     8823
2021     2556
Name: year, dtype: int64